<section class="mt-5">
    <div class="container">
        <div class="card">
            <div class="row align-items-center gy-3 p-5">
                <div class="col-12 col-md-7">
                    <h1 class="card-title fw-semibold text-primary"></h1>
    
                    <h2 class="fw-semibold fs-4">Colaboradores</h2>
                    <section id="info" class="fs-5">
                        <div class="d-inline-block">
                            <p class="mt-4">
                                <span class="text-primary fw-semibold">Professor:</span> Wilson Castello Branco Neto
                            </p>
                            <p>
                                <span class="text-primary fw-semibold">Alunos:</span> Allan Diniz Vieira, Bertoldo Rohden, Eduardo Moreira de Jesus e Juber Miranda Cunha
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container">
        <div class="card">
            <div class="row align-items-center gy-3 p-5">
                <div class="col-12 col-md-7">
                    <h2 class="fw-semibold fs-4">Sobre o Projeto</h2>
                    <section id="info" class="fs-5">
                        <div class="d-inline-block">
                            <p class="mt-4">
                                O sistema coleta as informações fornecidas pelo usuário na interface "Obter Recomendação". Em seguida, envia esses dados para o backend, que é implementado em Python e Clips, onde um sistema baseado em regras processa as informações. Como resultado desse processamento, o sistema retorna uma tabela contendo as recomendações relevantes, que são exibidas ao lado da interface para que o usuário as acesse facilmente. Esse fluxo de trabalho permite que o usuário obtenha orientações personalizadas com base em suas entradas, simplificando o processo de tomada de decisões.
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
