
<section class="mt-5">
    <div class="container">
      <div class="card">
        <div class="row align-items-center gy-3 p-5">
          <div class="col-12 col-md-7">
            <h1 class="card-title fw-semibold text-primary"></h1>
            <h2 class="fw-semibold fs-4">Introdução</h2>
            <section id="info" class="fs-5">
              <div class="d-inline-block">
                <p class="mt-4">
                  <span class="text-primary fw-semibold"></span> A pecuária desempenha um papel crucial na maioria das propriedades rurais
                  dos Estados do Rio Grande do Sul e de Santa Catarina.
                  Em ambientes diversos em termos de clima e solo, as pastagens representam a base alimentar para o gado.
                  No entanto, o manejo correto da fertilidade do solo é fundamental para o sucesso na produção agropecuária.
                  As pastagens naturais e cultivadas enfrentam desafios relacionados a fertilidade do solo, o que impacta sua produtividade.
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container">
      <div class="card">
        <div class="row align-items-center gy-3 p-5">
          <div class="col-12 col-md-7">
            <h1 class="card-title fw-semibold text-primary"></h1>
  
            <h2 class="fw-semibold fs-4">Condições do Solo e Forrageiras</h2>
            <section id="info" class="fs-5">
              <div class="d-inline-block">
                <p class="mt-4">
                  <span class="text-primary fw-semibold"></span> A quantidade das pastagens é diretamente influenciada pela fertilidade do solo.
                  A correção da acidez do solo e a abudação adequada são essenciais para garantir a produtividade das forrageiras.
                  A escolha da espécie forrageira correta e a aplicação dos nutrientes adequados são decisões criticas para otimizar a produção de alimentos para o gado.
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container">
      <div class="card">
        <div class="row align-items-center gy-3 p-5">
          <div class="col-12 col-md-7">
            <h1 class="card-title fw-semibold text-primary"></h1>
  
            <h2 class="fw-semibold fs-4">Vantagens de Utilizar o Sistema</h2>
            <section id="info" class="fs-5">
              <div class="d-inline-block">
                <p class="mt-4">
                  <span class="text-primary fw-semibold"></span> A decisão de como manejar e adubar as pastagens é critica para o sucesso da pecuária.
                  Adubar de forma inadequada pode levar a baixa produtividade e qualidade da forragem. Este sistema de recomendaão de catagem e adubação para forrageiras foi desenvolvido para auxiliar os produtores na tomada de decisões informadas,
                  considerando as caracteristicas do solo e o tipo de forrageira.

                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container">
      <div class="card">
        <div class="row align-items-center gy-3 p-5">
          <div class="col-12 col-md-7">
            <h1 class="card-title fw-semibold text-primary"></h1>
  
            <h2 class="fw-semibold fs-4">A importância da Recomendação</h2>
            <section id="info" class="fs-5">
              <div class="d-inline-block">
                <p class="mt-4">
                  <span class="text-primary fw-semibold"></span> A recomendação personalizada de calagem e abudação é fundamental para maximizar a produção e a qualidade das pastagens,
                  ao mesmo tempo em que se reduz o desperdicio de recuros. Utilize nosso sistema para tomar decisões informadas que impulsionem sa produção pecuária.
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  